body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: center;
}

.active {
  color: #766357;
}

a {
  text-decoration: none;
}

.catalog-item a.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.catalog-item a.button-brown {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.catalog-item a.button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.catalog-item a.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog-item a.button-brown:hover {
  color: #ffffff;
  background-color: #604e43;
}

.catalog-item a.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}
.main-navigation {
  position: relative; 
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}

.site-navigation {
  display: flex; 
  margin: 0;
  padding: 0;
  min-height: 56px;
  
  width: 100%;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo {
  display: flex;
  flex-direction: column;
  padding-top: 75px; 
  padding-bottom: 0px;
  align-items: center;
  width: 1200px;
  height: 500px;
  background-size: cover; 
  
  background-image: url("../img/bp.jpg");
  
  background-repeat: no-repeat;
  position: relative; /* родитель псевдокласса всегда или relative или absolute */
}

.promo::after {
  content: "";  /* у псевдокласса всегда должно быть это свойство, если контента (текста) нет, то пустые ковычки */
  position: absolute;  /* псевдокласс всегда absolute */
  background-image: url("../img/polygon.png");
 width: 1200px;
 height: 60px; 
 bottom: -2px;
 left: -1px;
}


.main-features {
  display: inline;
  list-style: none;

  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.main-features-text {
  margin: 60px;
  margin-bottom: 40px; 
}

.main-features-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 26px;
  color: #333333
}


.main-booking {
  display: inline;
  text-align: center;

  font-size: 30px;
  line-height: 36px;
}

.main-booking .title {
  font-size: 14px;
  line-height: 24px;
  color: #333333
}

.main-footer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  width: 135px;
  margin: 0px; 
}

.footer-social {
  width: 250px;
  text-align: center;
}

.footer-social ul {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  
  list-style: none;
}

.social-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright {
  width: 195px;
}

.catalog {
  width: 1200px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
width: 1055px;

}

.catalog-item a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  transition: 0.2s;
}

.catalog-item .hotel {
  font-size: 14px;
  line-height: 21px;
  color: #333333
}

.catalog-item a:hover {
  color: #81b3d2;
}

.catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .price {
  font-size: 14px;
  line-height: 21px;
  color: #333333
}


