body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: center;
}

.visually-hidden {

  visibility: hidden;
  position: absolute;
} 

.active {
  color: #766357;
}

a {
  text-decoration: none;
}

.catalog-item a.button-detailed {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 27px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;

}

.catalog-item a.button-brown {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 142px;
  height: 27px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.catalog-item a.button-detailed:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.catalog-item a.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog-item a.button-brown:hover {
  color: #ffffff;
  background-color: #604e43;
}

.catalog-item a.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}
.main-navigation {
  display: flex;
  align-items: center;
  position: relative; 
  justify-content: space-between;
  height: 56px;
  
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 0px;
}

.site-navigation {
  display: flex; 
  align-items: center;
  flex-wrap: wrap; 
  margin: 0;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;
  min-height: 56px;
  box-sizing: border-box;
  
  width: auto;
  margin-top: 0;
  list-style: none;
}

.site-navigation a {
  display: block;

  color: #000000;
}

.main-navigation-wrapper .logo {
  position: absolute;
  left: 44%;
  top: 0px;
  z-index: 1;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo {
  display: flex;
  flex-direction: column;
  padding-top: 75px; 
  padding-bottom: 0px;
  align-items: center;
  width: 100%;
  height: 450px;
  background-size: cover; 
  
  background-image: url("../img/bp.jpg");
  
  background-repeat: no-repeat;
  position: relative; /* родитель псевдокласса всегда или relative или absolute */
}

.promo::after {
  content: "";  /* у псевдокласса всегда должно быть это свойство, если контента (текста) нет, то пустые ковычки */
  position: absolute;  /* псевдокласс всегда absolute */
  background-image: url("../img/polygon.png");

 height: 60px; 
 bottom: -2px;
 left: -1px;
 right: 0px;
 background-size: cover;
}


.main-features {
  display: inline;
  list-style: none;

  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.main-features-text {
  margin: 60px;
  margin-bottom: 40px; 
}

.main-features-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 26px;
  color: #333333
}


.main-booking {
  display: inline;
  text-align: center;

  font-size: 30px;
  line-height: 36px;
}

.main-booking .title {
  font-size: 14px;
  line-height: 24px;
  color: #333333
}

.open-search {
  
  background-color: #766357; 
  margin-left: 316px;
  width: 568px;
  height: 86px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding-top: 35px;
  padding-bottom: 33px;
  outline: none;
}
.open-search:hover {
  color: #ffffff;
  background-color: #604e43; 
}

.open-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.appointment-item {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29px;
}

.appointment-form {
  display: block; 
  width: 568px;
  height: auto;
  background-color: #ffffff;
  text-transform: uppercase; 
  font-weight: bold;
  margin-left: 316px;
  margin-top: 0px;
  position: relative;
  
  padding: 55px;
  box-sizing: border-box;
    

}

.appointment-item input {
  font-family: "PT Sans";
  color: #000000;
  font-weight: bold;
  font-size: 14px; 
  text-transform: uppercase;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2; 
  border: none; 
  padding-left: 12px;
  margin-left: 10px; 
  outline: none;
}

.calendar-button {
  position: absolute;
  border: 0;
  left: 90%;
    top: 7px;
  z-index: 1;
  background-color: #f2f2f2;
  outline: none;
  fill: #a9a9a9;
}
.calendar-button:hover path {
  fill: #000000;
  background-color: #f2f2f2; 
}

.calendar-button:active path {
  fill: rgba(129, 179, 210, 0.8);
  background-color: #f2f2f2;
}


.calendar-button-dep {
  position: absolute;
  border: 0;
  left: 90%;
    top: 7px;
  z-index: 1;
  outline: none;
  
  background-color: #f2f2f2;
  fill: #a9a9a9;
}

.calendar-button-dep:hover  path {
  fill: #000000;
  background-color: #f2f2f2; 
}

.calendar-button-dep:active path {
  fill: rgba(129, 179, 210, 0.8);
  background-color: #f2f2f2;
}

.quantity input {
  font-family: "PT Sans";
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px; 
  width: 115px;
  height: 38px;
  background-color: #f2f2f2; 
  border: none;
  margin-left: 38px;
  outline: none;
}


.quantity-row {
display: flex;
    align-items: center;
    justify-content: space-between;
}


.find-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2; 
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 22px;
  margin-top: 54px;
  outline: none;
}

.quantity {
  display: flex; 
  position: relative;
  align-items: center;
}

.quantity .button {
 position: relative;
  top: 118px;
  left: 63px;

  border: none;
  width: 38px;
  height: 38px;
  outline: none;
  font-size: 0;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;

}

.quantity .button-minus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2f2f2; 
  position: absolute;
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
  left: 111px;
    top: 0px;
}

.quantity .button-plus {
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2; 
  position: absolute;
  border: none;
  width: 38px;
  height: 38px;
  outline: none;
  left: 186px;

}

.quantity-second .button-minus {
  left: 75px;
    top: 0px;
}

.quantity-second .button-plus {
  left: 151px;
  outline: none;
}

.quantity .button-minus:hover {
  fill: #000000;
  background-color: #f2f2f2; 
}

.quantity .button-minus:active path {
  fill: rgba(129, 179, 210, 0.8);
  background-color: #f2f2f2;
}




.find-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}


.main-footer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-size: 21px;
  width: 135px;
  margin: 0px; 
  margin-left: 95px;
}

.footer-social {
  width: 250px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  justify-content: space-between;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  
  background-color: #81b3d2;
}

.social-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 101px;
  font-size: 14px;
  width: 200px;
}


.button {
  display: flex;
  margin-left: 8px;
}

.button:hover path {
  fill: #98c1da;
}

.button:active path {
  fill: #bdbbbc;
}



.catalog {
  min-height: 460px;
}


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 55px;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  list-style: none;
}

.catalog-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.3);
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  padding-left: 72px;
  padding-right: 72px;
  
}

.catalog-item-col {
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: flex-start;
min-height: 90px;
}



.catalog-item-col h2 {
margin: 0px;
}

.catalog-items-btns {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
}

.cayalog-item-text {
  display: flex;
  justify-content: space-between;
  min-width: 260px;

}

.cayalog-item-text p {
  margin: 0;
}

.catalog-item a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  transition: 0.2s;
  max-height: 90px;
  
}

.text-block {
  margin-left: 30px;
  margin-right: auto;
}


.catalog-item .hotel {
  font-size: 14px;
  line-height: 21px;
  color: #333333
}

.hotel-rating {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-size: 14px;
  text-align: center;
  color: #666666;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
}


.catalog-item-rating {
  margin-left: auto;
}

.catalog-item a:hover {
  color: #81b3d2;
}

.catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  width: 142px;
}

